body {
  background-color: #D1D1C9;
}
.aw-discription {
  text-align: center;
  height: 800px;
  background-color: #E6E6E0;
  h3 {
    padding-top: 8vh;
    color: #85857B;
  }
  .head {
    width: 30vw;
    border: 2px solid #85857B;
  }
  a {
    color: #DC7725;
  }
  p{
    font-size: 22px;
    color: #85857B;
    margin-top: 20px;
    font-stretch: expanded;
  }

}
