body {
  background-color: #D1D1C9;
}

// DESCRIPTION OF ARCTIC WILD//
.aw-discription {
  text-align: center;
  height: 630px;
  background-color: #E6E6E0;


  @media #{$brk-medium} {
    display: flex;
    flex-direction: column;
  }
  h3 {
    padding-top: 8vh;
    color: #85857B;
    max-width: 800px;
  }
  h1 {
    max-width: 800px;
  }
  .head {
    width: 30vw;
    border: 2px solid #85857B;
    max-width: 250px;
    @media #{$brk-wide} {
      display: none;
    }
  }
  a {
    color: #DC7725;
  }
  p{
    font-size: 22px;
    color: #85857B;
    margin: 20px;
    font-stretch: expanded;
    max-width: 800px;
  }
}

//DESTINATIONS//

.destination {
  height: 1000px;
  .destination-head {
    text-align: center;
  }
  a {
    color: #DC7725;
  }
  .map {
    opacity: 0.0;
    @media #{$brk-wide, $brk-ex-wide} {
      opacity: 1;
      display: inline;
      position: absolute;
      left: 34%;
      }
      @media #{$brk-ex-wide} {

        }
    }
}
.destination {
  .destination-bg {
    display: none;
    @media #{$brk-ex-wide} {
      display: inline;
      position: relative;
      top: 380px;
      left: 100px;
    }
  }
}

.destination-bg-right {
  display: none;
  @media #{$brk-ex-wide} {
    display: inline;
    position: relative;
    top: 214px;
    left: 81%;

  }
}
.destination {
  .destination-bg-left {
    display: none;
    @media #{$brk-ex-wide} {
      display: inline;
      position: absolute;
      top: 3320px;
      right: 74%;
    }
  }
}








p{}
