%trip-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  @media #{$brk-narrow} {
    margin-top: 10px;
    height: 21vh;
    border-radius: 3px;
  }
  &:hover {
    a{
      transform: scale(1.4);
      transition: all 1s ease-in-out;
    }
  }
  a{
    align-self: center;
    height: 90px;
    width: 90px;
    border-radius: 100%;
    background-color: #666;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    @media #{$brk-narrow} {
      height: 60px;
      width: 60px;
      background-color: #444;
    }
  }
  img {
    align-self: center;
    height: 40px;
    width: 40px;
    @media #{$brk-narrow} {
      height: 30px;
      width: 30px;
      background-color: #444;
    }
  }

}
