header {
  button {
    position: absolute;
    top: 70%;
    left: 46%;
    background-color: #DC7725;
    width: 160px;
    height: 40px;

    @media #{$brk-medium} {
      display: none;
    }
    @media #{$brk-narrow} {
      display: none;
    }

  }
}

.aw-discription {

  @media #{$brk-medium} {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  button {
    background-color: #DC7725;
    width: 160px;
    height: 40px;


    @media #{$brk-narrow} {
      display: none;
    }

  }
}
